div.product {
	margin-bottom: 0;
	position: relative;

	.product_title {
		clear: none;
		margin-top: 0;
		padding: 0;
	}

	span.price,
	p.price {
		color: var(--woo-color-price);
		font-size: 1.25em;

		ins {
			background: inherit;
			display: inline-block;
			font-weight: 700;
		}

		del {
			display: inline-block;
			opacity: 0.5;
		}
	}

	p.stock {
		font-size: 0.92em;
	}

	.stock {
		color: var(--woo-color-highlight);
	}

	.out-of-stock {
		color: var(--woo-color-out-of-stock);
	}

	.woocommerce-product-rating {
		margin-bottom: 1.618em;
	}

	div.images {
		margin-bottom: 2em;

		img {
			box-shadow: none;
			display: block;
			height: auto;
			width: 100%;
		}

		div.thumbnails {
			padding-top: 1em;
		}

		&.woocommerce-product-gallery {
			position: relative;
		}

		.woocommerce-product-gallery__wrapper {
			margin: 0;
			padding: 0;
			transition: all cubic-bezier(0.795, -0.035, 0, 1) 0.5s;
		}

		.woocommerce-product-gallery__wrapper .zoomImg {
			background-color: #fff;
			opacity: 0;
		}

		.woocommerce-product-gallery__image--placeholder {
			border: 1px solid #f2f2f2;
		}

		.woocommerce-product-gallery__image:nth-child(n+2) {
			display: inline-block;
			width: 25%;
		}

		.woocommerce-product-gallery__trigger {
			background: #fff;
			border-radius: 100%;
			box-sizing: content-box;
			font-size: 2em;
			height: 36px;
			position: absolute;
			right: 0.5em;
			text-indent: -9999px;
			top: 0.5em;
			width: 36px;
			z-index: 9;

			&::before {
				border: 2px solid #000;
				border-radius: 100%;
				box-sizing: content-box;
				content: "";
				display: block;
				height: 10px;
				left: 9px;
				position: absolute;
				top: 9px;
				width: 10px;
			}

			&::after {
				background: #000;
				border-radius: 6px;
				box-sizing: content-box;
				content: "";
				display: block;
				height: 8px;
				left: 22px;
				position: absolute;
				top: 19px;
				transform: rotate(-45deg);
				width: 2px;
			}
		}

		.flex-control-thumbs {
			margin: 0;
			overflow: hidden;
			padding: 0;
			zoom: 1;

			li {
				float: left;
				list-style: none;
				margin: 0;
				width: 25%;

				img {
					cursor: pointer;
					margin: 0;
					opacity: 0.5;

					&.flex-active,
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.woocommerce-product-gallery--columns-3 {
		.flex-control-thumbs li:nth-child(3n+1) {
			clear: left;
		}
	}

	.woocommerce-product-gallery--columns-4 {
		.flex-control-thumbs li:nth-child(4n+1) {
			clear: left;
		}
	}

	.woocommerce-product-gallery--columns-5 {
		.flex-control-thumbs li:nth-child(5n+1) {
			clear: left;
		}
	}

	div.summary {
		margin-bottom: var(--spacing-base);
	}

	div.social {
		margin: 0 0 1em;
		text-align: right;

		span {
			margin: 0 0 0 2px;

			span {
				margin: 0;
			}

			.stButton .chicklets {
				padding-left: 16px;
				width: 0;
			}
		}

		iframe {
			float: left;
			margin-top: 3px;
		}
	}

	p.cart {
		margin-bottom: 2em;
	}

	form.cart {
		margin-bottom: 2em;

		div.quantity .qty {
			margin-bottom: 0;
		}

		table {
			border-width: 0 0 1px;

			td {
				padding-left: 0;
			}

			div.quantity {

				margin: 0;
			}

			small.stock {
				display: block;
			}
		}

		.variations {
			border: 0;
			margin-bottom: var(--spacing-small);
			width: 100%;

			td,
			th {
				border: 0;
				padding: 0;
				vertical-align: top;
			}

			label {
				font-weight: 700;
			}

			select {
				display: inline-block;
				margin-right: 1em;
				max-width: 100%;
				min-width: 50%;
			}

			td.label {
				padding-right: 1em;
				vertical-align: middle;
			}
		}

		.woocommerce-variation-description p {
			margin-bottom: var(--spacing-small);
		}

		.reset_variations {
			font-size: 0.83em;
			visibility: hidden;
		}

		.wc-no-matching-variations {
			display: none;
		}

		.button {

			vertical-align: middle;

		}

		.group_table {
			td.woocommerce-grouped-product-list-item__label {
				padding-left: 1em;
				padding-right: 1em;
			}

			td {
				border: 0;
				padding-bottom: 0.5em;
				vertical-align: top;
			}

			.wc-grouped-product-add-to-cart-checkbox {
				display: inline-block;
				margin: 0 auto;
				transform: scale(1.5, 1.5);
				width: auto;
			}
		}
	}
}

.woocommerce-single-product-bottom-layout {
	border-bottom: 1px solid var(--color-gray-ui);
	margin-bottom: var(--spacing-base);
	padding-bottom: var(--spacing-base);
}
