.single-product {
    .product_meta {}

    .quantity {
        margin-right: var(--spacing-base);
    }


    .woocommerce-variation-add-to-cart {}

    .woocommerce-single-product-add-to-cart-layout {
        display: flex;
        align-items: center;
    }

}