.woocommerce-cart-form__contents {
	dl {
		border: none;
		display: block;
		padding: 0;
	}

	dt,
	dd {
		display: inline-block;
	}
}

.woocommerce-cart-form__cart-item {
	border-bottom: 1px solid var(--color-gray-ui-light);
	padding-bottom: var(--spacing-base);
	padding-top: var(--spacing-base);

	&:first-child {
		padding-top: 0;

	}

	.product-quantity {
		margin-bottom: 0;
	}

	.product-subtotal {
		@media (--viewport-mobile) {
			text-align: right;
		}

		.tax_label {
			display: inline-block;
			font-size: var(--font-size-small);
		}
	}

	.product-price {
		display: none;
	}
}

.actions {
	margin-bottom: var(--spacing-base);
	padding-top: var(--spacing-base);

	@media (--viewport-lap-and-up) {
		align-items: flex-start;
		display: flex;
		flex-wrap: nowrap;
	}

	.coupon {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;

		@media (--viewport-mobile) {
			border-bottom: 1px solid var(--color-gray-ui-light);
			margin-bottom: var(--spacing-small);
			padding-bottom: var(--spacing-small);
		}

		>* {
			flex: 1;
		}

		label {
			display: none;
		}

		.input-text {
			@media (--viewport-lap-and-up) {
				margin-right: var(--spacing-tiny);
			}
		}
	}

	button[name="update_cart"] {
		margin-left: auto;

		@media (--viewport-mobile) {
			display: block;
			width: 100%;
		}
	}
}
