/* ==========================================================================
   #OBJECTS CARD
   ========================================================================== */

.o-card {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.o-card--hover {
	position: relative;
	transition: box-shadow 0.5s ease;

	&:hover {

		box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
		z-index: 1;
	}
}
