/* ==========================================================================
   #OBJECTS MEDIA FLAG
   ========================================================================== */
.o-flag,
.o-media {
	--media-spacing: var(--spacing-base);

	@media (--viewport-lap-and-up) {
		display: flex;
	}

	&--tiny {
		--media-spacing: var(--spacing-tiny);
	}

	&--small {
		--media-spacing: var(--spacing-small);
	}

	&--large {
		--media-spacing: var(--spacing-base);

		@media (--viewport-lap-and-up) {
			--media-spacing: var(--spacing-large);
		}
	}

	&--huge {
		--media-spacing: var(--spacing-base);

		@media (--viewport-lap-and-up) {
			--media-spacing: var(--spacing-huge);
		}
	}
}



/* Not responsive has settings all the way */
.o-media.o-media--not-responsive,
.o-flag.o-flag--not-responsive {
	display: flex;
}

.o-media.o-media--not-responsive .o-media__body,
.o-flag.o-flag--not-responsive .o-flag__body {
	flex: min-content;
	margin-left: var(--media-spacing);
}

.o-media__img,
.o-flag__img {
	flex-shrink: 0;

	@media (--viewport-mobile) {
		margin-bottom: var(--media-spacing);
	}

	& > img {
		display: block;
	}
}

@media (--viewport-lap-and-up) {
	.o-media__body,
	.o-flag__body {

		flex: min-content;
		margin-left: var(--media-spacing);

	}
}

.o-flag {
	align-items: center;
}

.o-media--reverse,
.o-flag--reverse {
	flex-direction: row-reverse;
}

@media (--viewport-lap-and-up) {
	.o-media--reverse .o-media__body,
	.o-flag--reverse .o-flag__body {
		margin-left: 0;
		margin-right: var(--media-spacing);
	}
}

@media (--viewport-lap) {
	.c-mediabox-image-large .o-media,
	.c-mediabox-image-large .o-flag {
		&__img {
			flex: min-content;
		}
	}
}

.c-mediabox-has-full-height-image {
	& .attachment_image {
		height: 100%;
		object-fit: cover;
	}
}
