:root {

	--woo-color-positive: var(--color-positive, #5c992e); /* Forms */
	--woo-color-negative: var(--color-negative, #e74c3c); /* Form | Widget layered navigation | Widget rating filter */
	--woo-color-price: #000; /* Product price */
	--woo-color-out-of-stock: #000; /* Out of stock */
	--woo-color-on-sale-background: #5c992e; /* On sale */
	--woo-color-on-sale-color: #fff; /* On sale */
	--woo-color-primary: #156fbf; /* Used in messages | store notices | Price filter bar */
	--woo-color-text-notice: #fff; /* Messages | Store notices | Price filter bar */
	--woo-color-highlight: #6ec04a; /* Stock | discount color */
	--woo-tabs-tab-hover-color: #333; /* | Tabs BG - Tabs (active state) */
	--woo-tabs-content-background: #fafafa; /* | Content BG */

	--woo-font-small: 0.875em;
	--woo-head-utility-font-size: 1em;
	--woo-head-utility-background: #fff;
	--woo-head-utility-background-h: #131316;
	--woo-head-utility-text-color: #000;
	--woo-head-cart-count-background: #000;
	--woo-head-cart-count-text-color: #fff;
	--woo-head-utility-background-dark: #222329;
	--woo-head-utility-text-color-light: #bbb;

	/* Remove button color in cart */
	--woo-remove-color: #333;
	--woo-remove-color-background: #bbb;

	/* Buttons */
	--woo-button-spacing-default: var(--spacing-small) var(--spacing-base);

	/* woopayment box */
	--woo-background-payment-checkout: #f5f5f5; /* woocommerce-checkout-payment   */
	--woo-payment-box-background: #313131;
	--woo-payment-box-color: #fff;

	/* notification bar */
	--woo-message-bar-background: #e8e8e8;
	--woo-message-bar-color: #000;

	/* woocommerce-message */
	--woo-message-bar-theme-default-color: #8fae1b;
	--woo-message-bar-theme-info-color: #1e85be;
	--woo-message-bar-theme-error-color: #e74c3c;

	/* Woo head utility colors */
	--woo-head-utility-symbol-color: #000;

	/* Star rating color */
	--woo-star-rating-color: #f9bf3b;

	--woo-product-per-row-default: 1;
	--woo-product-per-row-one: 1;
	--woo-product-per-row-two: 1;
	--woo-product-per-row-three: 1;
	--woo-product-per-row-four: 1;
	--woo-product-per-row-five: 1;
	--woo-product-per-row-six: 1;
}

@media (--viewport-lap-and-up) {
	:root {
		--woo-product-per-row-default: 2;
		--woo-product-per-row-three: 3;
		--woo-product-per-row-four: 4;
		--woo-product-per-row-five: 5;
		--woo-product-per-row-six: 6;
	}
}
