/* ==========================================================================
   #COMPONENTS SOCIAL LIST
   ========================================================================== */
.c-social-list {
	list-style: none;
	margin-left: 0;
}
