/* ==========================================================================
   #WP POST & PAGE NAVIGATION
   ========================================================================== */

/* Page navigation */
.nav-links {
	/* border-top: 1px solid $color-gray-ui; */
	border-bottom: 1px solid var(--color-gray-ui);
	margin-bottom: var(--spacing-base);
	padding: var(--spacing-small) 0;
}

.nav-previous,
.nav-next {

	color: var(--text-color-body);
	transition: background-color var(--global-transition) linear;

	& a {
		color: currentColor;
		display: flex;
		flex-grow: 1;
		flex-wrap: wrap;
		height: 100%;
		padding: var(--spacing-small);
	}

	& .nav__item-link {
		display: block;
		flex-basis: 100%;
		margin-top: auto;
	}

	&:hover {
		background-color: var(--color-gray-ui-light);
	}

}

.paging-navigation {
	& a:hover {
		color: var(--background-color-body);
	}

	& .nav-next {
		text-align: right;
	}
}

.nav-next .nav__item-link {
	text-align: right;
}

.nav__item-title {
	font-size: var( --wp--preset--font-size--tiny);
	font-weight: 500;
}

@media (--viewport-lap-and-up) {
	.nav-links {
		& a:hover {
			text-decoration: none;

		}
		align-items: stretch;

		display: flex;

		& .nav-previous,
		& .nav-next {
			flex: 2;

		}
	}
}

/* Post Navigation */

/*
.post-navigation {
border-bottom: 1px solid var(--color-gray-ui);
}
*/

.nav-fig {
	margin-bottom: var(--spacing-small);

	img {
		height: 45px;
		width: 45px;
	}
}

.paging-numbered-navigation {
	text-align: center;

	/*
	padding:$spacing-unit 0;
	border-top:1px solid var(--color-gray-ui);
	 */

	.page-numbers {
		border: 1px solid var(--text-color-body);
		color: var(--text-color-body);
		font-size: var( --wp--preset--font-size--tiny);
		padding: 0.2em 0.7em;

		&.current {
			background-color: var(--text-color-body);
			border-color: var(--text-color-body);
			color: var(--text-color-invert);
			font-weight: 600;
		}

		&:hover {
			background-color: var(--text-color-body);
			color: var(--text-color-invert);
			text-decoration: none;
		}
	}
}
