/* ==========================================================================
   #COMPONENTS PAGE MICRO
   ========================================================================== */
.page-micro {
	background-color: var(--footer-micro-background-color);
	color: var(--footer-text-color);
	padding: var(--spacing-small) 0;
}

.page-micro__copy {
	display: block;
	font-size: var(--wp--preset--font-size--tiny);
	margin: 0 auto;
	max-width: min(calc(100vw - var(--site-spacing) * 2), var(--site-width));
}
