/* ==========================================================================
   #COMPONENTS Buttons
   ========================================================================== */

.wp-block-button__link {
	background-color: var(--button-color-default);
	border-color: var(--button-color-default);
	border-radius: var(--button-radius);
	border-style: solid;
	border-width: 2px;
	font-size: 1em;
	padding: var(--button-padding);
	text-decoration: none;
	transition: all 150ms ease-in-out;

	&:hover {
		background-color: var(--button-color-default-h);
		border-color: var(--button-color-default-h);
		color: #fff;
		text-decoration: none;
	}
}

.wp-block-button {
	&.is-style-pill,
	&.is-style-pill-outline {
		& > .wp-block-button__link {
			border-radius: 9999px;
			padding: var(--button-padding);
		}
	}

	&.is-style-outline,
	&.is-style-pill-outline {
		& > .wp-block-button__link {
			background-color: transparent;
			border-color: currentColor;
			color: currentColor;
			padding: var(--button-padding);

			&:hover {
				background-color: var(--button-color-default-h);
				border-color: var(--button-color-default-h);
				color: #fff;
			}
		}
	}

	/**
	* Colors
	* Disable style lint -- Doesn't calculates correctly the color variations.
	*/

	/* stylelint-disable no-descending-specificity */
	&.is-color-primary {
		& .wp-block-button__link {
			border-color: var(--button-color-primary);

			&:hover {
				border-color: var(--button-color-primary-h);
			}

		}

		&.is-style-outline,
		&.is-style-pill-outline {
			& .wp-block-button__link {
				color: var(--button-color-primary);

				&:hover {
					background-color: var(--button-color-primary-h);
					color: #fff;
				}
			}
		}

		&:not(.is-style-outline):not(.is-style-pill-outline) {
			& .wp-block-button__link {
				background-color: var(--button-color-primary);

				&:hover {
					background-color: var(--button-color-primary-h);
				}
			}
		}
	}

	&.is-color-secondary {
		& .wp-block-button__link {
			border-color: var(--button-color-secondary);

			&:hover {
				border-color: var(--button-color-secondary-h);
			}
		}

		&.is-style-outline,
		&.is-style-pill-outline {
			& .wp-block-button__link {
				color: var(--button-color-secondary);

				&:hover {
					background-color: var(--button-color-secondary-h);
					color: #fff;
				}
			}
		}

		&:not(.is-style-outline):not(.is-style-pill-outline) {
			& .wp-block-button__link {
				background-color: var(--button-color-secondary);

				&:hover {
					background-color: var(--button-color-secondary-h);
				}
			}
		}
	}

	&.is-color-tertiary {
		& .wp-block-button__link {
			border-color: var(--button-color-tertiary);

			&:hover {
				border-color: var(--button-color-tertiary-h);
			}
		}

		&.is-style-outline,
		&.is-style-pill-outline {
			& .wp-block-button__link {
				color: var(--button-color-tertiary);

				&:hover {
					background-color: var(--button-color-tertiary-h);
					color: #fff;
				}
			}
		}

		&:not(.is-style-outline):not(.is-style-pill-outline) {
			& .wp-block-button__link {
				background-color: var(--button-color-tertiary);

				&:hover {
					background-color: var(--button-color-tertiary-h);
				}
			}
		}
	}

	&.is-color-negative {
		& .wp-block-button__link {
			border-color: var(--button-color-negative);

			&:hover {
				border-color: var(--button-color-negative-h);
			}
		}

		&.is-style-outline,
		&.is-style-pill-outline {
			& .wp-block-button__link {
				color: var(--button-color-negative);

				&:hover {
					background-color: var(--button-color-negative-h);
					color: #fff;
				}
			}
		}

		&:not(.is-style-outline):not(.is-style-pill-outline) {
			& .wp-block-button__link {
				background-color: var(--button-color-negative);

				&:hover {
					background-color: var(--button-color-negative-h);
				}
			}
		}
	}

	&.is-color-positive {
		& .wp-block-button__link {
			border-color: var(--button-color-positive);

			&:hover {
				border-color: var(--button-color-positive-h);
			}
		}

		&.is-style-outline,
		&.is-style-pill-outline {
			& .wp-block-button__link {
				color: var(--button-color-positive);

				&:hover {
					background-color: var(--button-color-positive-h);
					color: #fff;
				}
			}
		}

		&:not(.is-style-outline):not(.is-style-pill-outline) {
			& .wp-block-button__link {
				background-color: var(--button-color-positive);

				&:hover {
					background-color: var(--button-color-positive-h);
				}
			}
		}
	}

	&.is-color-neutral {
		& .wp-block-button__link {
			border-color: var(--button-color-neutral);

			&:hover {
				border-color: var(--button-color-neutral-h);
			}
		}

		&.is-style-outline,
		&.is-style-pill-outline {
			& .wp-block-button__link {
				color: var(--button-color-neutral);

				&:hover {
					background-color: var(--button-color-neutral-h);
					color: #fff;
				}
			}
		}

		&:not(.is-style-outline):not(.is-style-pill-outline) {
			& .wp-block-button__link {
				background-color: var(--button-color-neutral);

				&:hover {
					background-color: var(--button-color-neutral-h);
				}
			}
		}
	}

	&.is-color-light {
		& .wp-block-button__link {
			border-color: var(--button-color-light);

			&:hover {
				border-color: var(--button-color-light-h);
			}
		}

		&.is-style-outline,
		&.is-style-pill-outline {
			& .wp-block-button__link {
				color: var(--button-color-light);

				&:hover {
					background-color: var(--button-color-light-h);
					color: var(--text-color-body);
				}
			}
		}

		&:not(.is-style-outline):not(.is-style-pill-outline) {
			& .wp-block-button__link {
				background-color: var(--button-color-light);

				&:hover {
					background-color: var(--button-color-light-h);
				}
			}
		}
	}

	&.is-color-white {
		& .wp-block-button__link {
			border-color: var(--button-color-white);

			&:hover {
				border-color: var(--button-color-white-h);
			}
		}

		&.is-style-outline,
		&.is-style-pill-outline {
			& .wp-block-button__link {
				color: var(--button-color-white);

				&:hover {
					background-color: var(--button-color-white-h);
					color: var(--text-color-body);
				}
			}
		}

		&:not(.is-style-outline):not(.is-style-pill-outline) {
			& .wp-block-button__link {
				background-color: var(--button-color-white);

				&:hover {
					background-color: var(--button-color-white-h);
				}
			}
		}
	}
	/* stylelint-enable no-descending-specificity */
}
