/* ==========================================================================
   #WP PAGE
   ========================================================================== */
body {
	background-color: var(--background-color-body);
	color: var(--text-color-body);
}

.site-header {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.has-header-sticky:not(.is-menu-under-header) .site-header,
.has-header-sticky.is-menu-under-header .site-nav-mega-menu {
	position: sticky;
	top: 0;
	transition: all 350ms;
	z-index: 999;
}

.sticky-scroll-header {
	&:not(.is-menu-under-header) {
		& .site-header {
			transform: translateY(-100%);
		}
	}

	&.show-scroll-header .site-header {
		transform: translateY(0%);
	}

	&.logged-in.show-scroll-header {
		& .site-header {
			top: 32px;
		}
	}

	&.is-menu-under-header {
		& .site-nav-mega-menu {
			transform: translateY(-100%);
		}

		&.show-scroll-header .site-nav-mega-menu {
			transform: translateY(0%);
		}

		&.logged-in.show-scroll-header {
			& .site-nav-mega-menu {
				top: 32px;
			}
		}
	}
}

.is-menu-under-header {
	& .site-nav__menu-container > ul {
		margin-top: 0;
	}
}

.site-content {
	margin-bottom: var(--spacing-large);
	margin-top: var(--spacing-large);
}

/* ==========================================================================
   #WP PAGE CONTENT
   ========================================================================== */
.hide-page-title {
	& .entry-title {
		display: none;
	}
}

.entry-header {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--content-width);
}

.entry-content,
.entry-footer,
.comments-area,
.post-navigation {
	& > * {
		margin: var(--site-block-spacing) auto;
		max-width: var(--content-width);
	}
}

.entry-content {
	& > .alignwide {
		max-width: min(calc(100vw - var(--site-spacing) * 2), var(--site-width));
	}

	& > .alignfull {
		margin-left: calc(var(--site-spacing) * -1);
		margin-right: calc(var(--site-spacing) * -1);
		max-width: none;
		width: calc(100% + var(--site-spacing) * 2);
	}

	& .alignleft > * {
		float: left;
	}

	& .alignright > * {
		float: right;
	}

	& .aligncenter > * {
		margin-left: auto;
		margin-right: auto;
	}

	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

.entry-content .woocommerce,
.woocommerce-page:not(.woocommerce-cart) .content-area {
	margin-left: auto;
	margin-right: auto;
	max-width: min(calc(100vw - var(--site-spacing) * 2), var(--site-width));

	& > * {
		margin-left: auto;
		margin-right: auto;
		width: calc(100% - var(--site-spacing) * 2);
	}
}

.reset-space-vertical,
.reset-space-bottom {
	& .entry-content {
		margin-bottom: 0;
	}
}

.has-sidebar {
	& .entry-content {
		& > .alignfull {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

body:not(.has-sidebar) .entry-header,
body:not(.has-sidebar):not(.woocommerce-cart) .entry-content,
body:not(.has-sidebar) .entry-footer {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - var(--site-spacing) * 2);

	&::after {
		clear: both !important;
		content: "" !important;
		display: block !important;
	}
}

.entry-title > a {
	color: var(--text-color-body);

	&:hover {
		color: var(--text-color-link);
		text-decoration: none;
	}
}

.entry-header__entry-title {
	font-size: var(--wp--custom--line-height--heading-1);
}

/* Reset spacing */
.content-reset-space-top {
	& .site-content {
		margin-top: 0;
	}

	& .entry-content > *:first-child {
		margin-top: 0;
	}
}

.content-reset-space-bottom {
	& .site-content {
		margin-bottom: 0;
	}

	& .entry-content > *:last-child {
		margin-bottom: 0;
	}
}

.content-reset-space-vertical {
	& .site-content {
		margin-bottom: 0;
		margin-top: 0;
	}

	& .entry-content > *:first-child {
		margin-top: 0;
	}

	& .entry-content > *:last-child {
		margin-bottom: 0;
	}
}

/* Sidebar */
#secondary {
	margin-left: auto;
	margin-right: auto;
	max-width: min(calc(100vw - var(--site-spacing) * 2), var(--site-width));

	&::after {
		clear: both !important;
		content: "" !important;
		display: block !important;
	}

	& > * {
		margin: 0 auto;
		max-width: var(--content-width);
	}
}

/* Layout with sidebar */
.has-sidebar .site-content {
	margin-left: auto;
	margin-right: auto;
	max-width: min(calc(100vw - var(--site-spacing) * 2), var(--site-width));
}

@media (--viewport-desktop) {
	.has-sidebar .site-content {
		display: flex;

		& #primary {
			flex: 1;
			margin-right: var(--site-spacing);
		}

		& #secondary {
			width: var(--wp--custom--site--sidebar-width);
		}

		& .comments-area {
			max-width: var(--content-width);
			width: 100%;
		}

	}

	.has-sidebar-inverted .site-content {
		flex-direction: row-reverse;

		& #primary {
			margin-left: var(--site-spacing);
			margin-right: 0;
		}
	}
}

/* ==========================================================================
   #WP COMMENTS
   ========================================================================== */
.comments-area {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - var(--site-spacing) * 2);
}

.has-sidebar .comments-area {
	max-width: min(calc(100vw - var(--site-spacing) * 2), var(--site-width));
	width: 100%;
}

.comment-respond {
	border-bottom: 1px solid var(--color-gray-ui);
	border-top: 1px solid var(--color-gray-ui);
	margin-bottom: var(--spacing-base);
	padding: var(--spacing-small) 0;

}

.comment-form__field {
	display: block;
	width: 100%;
}

.comment-reply-link {
	font-size: var(--spacing-small);
	font-weight: 600;
	line-height: 1;
}

.bypostauthor {
	border-left: 2px solid var(--color-gray-ui);
	padding-left: var(--spacing-small);
}
