.widget_shopping_cart {

	font-size: var(--woo-font-small);

	.total {
		margin: 0;
		padding: var(--spacing-small);
		text-align: center;

		strong {
			display: inline-block;
			min-width: 40px;
		}
	}

	.woocommerce-mini-cart-item {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		padding-bottom: var(--spacing-small);
		padding-top: var(--spacing-small);
		position: relative;

		.remove {
			margin-right: 4px;
		}

		a:nth-child(2) {
			flex: 1;
		}

		.variation {
			flex-basis: 100%;
		}

		.quantity {
			color: #9aa0a7;
			flex-basis: 100%;
		}
	}

	.woocommerce-mini-cart__buttons {
		padding: var(--spacing-small) var(--spacing-small) var(--spacing-tiny) var(--spacing-small);

		.button {
			display: block;
			font-weight: 500;
			margin-bottom: var(--spacing-tiny);
			text-align: center;
		}

	}
}

.widget-area {
	.widget_shopping_cart {
		--woo-remove-color: #fff;
	}
	/* stylelint-disable no-descending-specificity */
	.woocommerce-mini-cart-item a {
		color: var(--text-color-body);
		font-weight: 600;
	}
	/* stylelint-enable no-descending-specificity */
	.woocommerce-mini-cart-item,
	.total {
		border-bottom: 1px solid var(--color-gray-ui-light);
	}

}
