.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	align-items: center;
	background-color: var(--woo-message-bar-background);
	border-top: 3px solid var(--woo-color-primary);
	color: var(--woo-message-bar-color);
	display: flex;
	flex-direction: row;
	list-style: none outside;
	margin: 0 0 var(--spacing-base);
	padding: var(--spacing-small) var(--spacing-base);
	position: relative;
	width: auto;
	word-wrap: break-word;

	@media (--viewport-mobile) {
		flex-wrap: wrap;
	}

	@media (--viewport-lap-and-up) {
		&::before {
			content: "\e028";
			display: inline-block;
			font-family: WooCommerce; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
			margin-right: var(--spacing-small);
		}
	}

	.button {
		margin-left: auto;
		order: 3;
	}

	li {
		list-style: none outside !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
}

.woocommerce-error {
	border-top-color: var(--woo-message-bar-theme-error-color);
	flex-wrap: wrap;

	@media (--viewport-lap-and-up) {
		&::before {
			color: var(--woo-message-bar-theme-error-color);
			content: "\e016";
		}
	}

	li {
		flex-basis: 100%;

		@media (--viewport-lap-and-up) {
			flex-basis: 40%;
		}

	}
}

.woocommerce-message {
	border-top-color: var(--woo-message-bar-theme-default-color);

	@media (--viewport-lap-and-up) {
		&::before {
			color: var(--woo-message-bar-theme-default-color);
			content: "\e015";
		}
	}
}

.woocommerce-info {
	border-top-color: var(--woo-message-bar-theme-info-color);

	@media (--viewport-lap-and-up) {
		&::before {
			color: var(--woo-message-bar-theme-info-color);
		}
	}

	.showcoupon {
		margin-left: var(--spacing-small);
	}
}
