form .form-row {
	margin: 0 0 6px;
	padding: 3px;

	[placeholder]:focus::-webkit-input-placeholder {
		opacity: 0;
		transition: opacity 0.5s 0.5s ease;
	}

	label {
		line-height: 2;
	}

	label.hidden {
		visibility: hidden;
	}

	label.inline {
		display: inline;
	}

	.woocommerce-input-wrapper {
		.description {
			background: #1e85be;
			border-radius: 3px;
			clear: both;
			color: #fff;
			display: none;
			margin: 0.5em 0 0;
			padding: 1em;
			position: relative;

			a {
				border: 0;
				box-shadow: none;
				color: #fff;
				text-decoration: underline;
			}

			&::before {
				border-color: #1e85be transparent transparent transparent;
				border-style: solid;
				border-width: 4px 6px 0 6px;
				content: "";
				display: block;
				left: 50%;
				margin-top: -4px;
				position: absolute;
				top: 0%;
				transform: translateX(-50%) rotate(180deg);
				z-index: 100;
			}
		}
	}

	select {
		cursor: pointer;
		margin: 0;
	}

	.required {
		border: 0 !important;
		color: #f00;
		font-weight: 700;
		text-decoration: none;
		visibility: hidden;
	}

	.optional {
		visibility: visible;
	}

	.input-checkbox {
		display: inline;
		margin: -2px 8px 0 0;
		text-align: center;
		vertical-align: middle;
	}

	input.input-text,
	textarea {
		box-sizing: border-box;
		line-height: normal;
		margin: 0;
		outline: 0;
		width: 100%;
	}

	textarea {
		box-shadow: none;
		display: block;
		height: 4em;
		line-height: 1.5;
	}

	.select2-container {
		width: 100%;
	}

	&.woocommerce-invalid {
		label {
			color: var(--woo-color-negative);
		}

		.select2-container,
		input.input-text,
		select {
			border-color: var(--woo-color-negative);
		}
	}

	&.woocommerce-validated {
		.select2-container,
		input.input-text,
		select {
			border-color: var(--woo-color-positive-darken);
		}
	}

	::-webkit-input-placeholder {
		line-height: normal;
	}

	:-moz-placeholder {
		line-height: normal;
	}

	:-ms-input-placeholder {
		line-height: normal;
	}
}

form.login,
form.checkout_coupon,
form.register {
	border: 1px solid var(--color-gray-ui-dark);
	border-radius: 5px;
	margin: 2em 0;
	padding: 20px;
	text-align: left;
}

.woocommerce-cart-form {
	--form-fields-padding: var(--spacing-tiny);
}

ul#shipping_method { /* stylelint-disable-line selector-id-pattern */
	list-style: none outside;
	margin: 0;
	padding: 0;

	li {
		line-height: 1.5;
		list-style: none outside;
		margin: 0 0 0.5em;

		input {
			margin: 3px 0.4375em 0 0;
			vertical-align: top;
		}

		label {
			display: inline;
		}
	}

	.amount {
		font-weight: 700;
	}
}

p.woocommerce-shipping-contents {
	margin: 0;
}

.woocommerce-form-row {
	em {
		display: inline-block;
		font-size: var(--font-size-small);
	}
}
