.woo-single-image-gallery {

	margin-bottom: var(--spacing-base);
	position: relative;
	--woo-main-gallery-height: 300px;
	--woo-thumb-gallery-height: 50px;

	@media (--viewport-lap-and-up) {
		--woo-main-gallery-height: 500px;
		--woo-thumb-gallery-height: 100px;
	}

	.swiper-container {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.swiper-slide {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

	}

	.wps-prime-woo-gallery-main {
		height: var(--woo-main-gallery-height);
		margin-bottom: var(--spacing-small);
	}

	.wps-prime-woo-gallery-thumbs {
		height: var(--woo-thumb-gallery-height);

		.swiper-slide {
			border: 1px solid var(--background-color-body);
			transition: border-color var(--global-transition) linear;

			&.swiper-slide-thumb-active {
				border-color: var(--color-gray-ui-dark);
			}
		}
	}

	.gallery-top {
		height: 80%;
		width: 100%;
	}

	.gallery-thumbs {
		box-sizing: border-box;
		height: 20%;
		padding: 10px 0;
	}

	.gallery-thumbs .swiper-slide {
		height: 100%;
		opacity: 0.4;
		width: 25%;
	}

	.gallery-thumbs .swiper-slide-thumb-active {
		opacity: 1;
	}
}
