#review_form { /* stylelint-disable-line selector-id-pattern */
	margin: 0 auto;
	max-width: 800px;
	padding-top: var(--spacing-base);
}

#reviews {
	h2 small {
		color: var(--text-color-gray-ui);
		float: right;
		font-size: 15px;
		margin: 10px 0 0;

		a {
			color: var(--text-color-gray-ui);
			text-decoration: none;
		}
	}

	h3 {
		margin: 0;
	}

	#respond {
		border: 0;
		margin: 0;
		padding: 0;

		.comment-reply-title {
			font-weight: 700;
		}

		.comment-notes {
			font-size: var(--font-size-small);
		}
	}

	#comment {
		height: 75px;
	}

	#comments {
		h2 {
			clear: none;
		}

		ol.commentlist {
			background: none;
			list-style: none;

			margin: 0;
			width: 100%;

			li {
				background: 0;
				border: 0;
				border: 0;
				margin: 0 0 20px;
				padding: 0;
				position: relative;

				.meta {
					color: var(--text-color-gray-ui);
					font-size: 0.75em;
				}

				img.avatar {
					background: var(--color-gray-ui);
					border: 1px solid var(--color-gray-ui-dark);
					box-shadow: none;
					float: left;
					height: auto;
					left: 0;
					margin: 0;
					padding: 3px;
					position: absolute;
					top: 0;
					width: 32px;
				}

				.comment-text {
					border: 1px solid var(--color-gray-ui-dark);
					border-radius: 4px;
					margin: 0 0 0 50px;
					padding: 1em 1em 0;

					p {
						margin: 0 0 1em;
					}

					p.meta {
						font-size: 0.83em;
					}
				}
			}

			ul.children {
				list-style: none outside;
				margin: 20px 0 0 50px;

				.star-rating {
					display: none;
				}
			}

			#respond {
				border: 1px solid var(--color-gray-ui-dark);
				border-radius: 4px;
				margin: 20px 0 0 50px;
				padding: 1em 1em 0;
			}
		}

		.commentlist > li::before {
			content: "";
		}
	}

	.woocommerce-reviews-title {
		margin-bottom: var(--spacing-small);
	}

	.woocommerce-noreviews {
		margin: 0;
	}

	.comment-form {
		display: flex;
		flex: 1;
		flex-wrap: wrap;

		input[type="text"],
		input[type="email"],
		textarea {
			width: 100%;
		}

	}

	.comment-form-rating {
		flex-basis: 100%;
	}

	.comment-form-comment {
		display: block;
		width: 100%;
	}

	.comment-form-email,
	.comment-form-author {
		label {
			display: block;
		}

		@media (--viewport-lap-and-up) {
			flex-basis: 50%;
		}
	}

	@media (--viewport-lap-and-up) {
		.comment-form-email {
			padding-left: var(--spacing-tiny);
		}

		.comment-form-author {
			padding-right: var(--spacing-tiny);
		}
	}

	.form-submit {
		text-align: right;
		width: 100%;
	}

}
