.widget_rating_filter ul {
	border: 0;
	list-style: none outside;
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		padding: 0 0 1px;

		a {
			padding: 1px 0;
			text-decoration: none;
		}

		.star-rating {
			display: inline-block;
			float: none;
		}
	}

	li.chosen a::before {
		@include iconbefore("\e013");
		color: var(--woo-color-negative);
	}
}
