nav.woocommerce-pagination {
	font-size: var(--font-size-small);
	padding-top: var(--spacing-large);
	text-align: center;

	ul {
		display: block;
		margin: 0;
		padding: 0;
		white-space: nowrap;

		li {
			display: inline;
			overflow: hidden;

			a,
			span {
				border: 1px solid var(--text-color-body);
				color: var(--text-color-body);
				display: inline-block;
				margin: 0;
				padding: 0.2em 0.7em;
				text-decoration: none;
			}

			span.current {
				background-color: var(--text-color-body);
				border-color: var(--text-color-body);
				color: var(--text-color-invert);
				font-weight: 600;
			}

			a:hover,
			a:focus {
				background-color: var(--text-color-body);
				color: var(--text-color-invert);
				text-decoration: none;
			}
		}
	}
}
