.products ul,
ul.products {
	clear: both;
	list-style: none outside;
	margin: 0 0 var(--spacing-base);
	padding: 0;

	li {
		list-style: none outside;
	}
}

ul.products li.product {
	.onsale {
		left: auto;
		margin: -0.5em -0.5em 0 0;
		right: 0;
		top: 0;
	}

	h3,
	.woocommerce-loop-product__title,
	.woocommerce-loop-category__title {
		font-size: 1em;
		margin: 0;
		padding: 0.5em 0;
	}

	a {
		text-decoration: none;
	}

	a img {
		box-shadow: none;
		display: block;
		height: auto;
		margin: 0 0 var(--spacing-tiny);
		width: 100%;
	}

	strong {
		display: block;
	}

	.woocommerce-placeholder {
		border: 1px solid #f2f2f2;
	}

	.star-rating {
		font-size: 0.857em;
	}

	.price {
		color: var(--woo-color-price);
		display: block;
		font-size: 0.857em;
		font-weight: 500;
		margin-bottom: var(--spacing-small);
		text-align: right;

		@media (--viewport-lap-and-up) {
			margin-bottom: var(--spacing-tiny);
			text-align: left;
		}

		del {
			color: inherit;
			display: inline-block;
			opacity: 0.5;
		}

		ins {
			background: none;
			display: inline-block;
			font-weight: 700;
		}

		.from {
			color: var(--text-color-gray-ui);
			font-size: 0.67em;
			margin: -2px 0 0 0;
			text-transform: uppercase;
		}
	}
}
