.woocommerce-breadcrumb {
	color: var(--text-color-gray-ui);
	font-size: 0.72rem;

	margin: 0 0 1rem;
	padding: 0;

	a {
		color: var(--text-color-gray-ui);

		&:first-child {
			display: none;
		}
	}
}
