.widget_layered_nav_filters ul {
	border: 0;
	list-style: none outside;
	margin: 0;
	overflow: hidden;
	padding: 0;
	zoom: 1;

	li {
		float: left;
		list-style: none;
		padding: 0 1em 1px 1px;

		a {
			text-decoration: none;

			&::before {
				@include iconbefore("\e013");
				color: var(--woo-color-negative);
				margin-right: 0.5em;
				vertical-align: inherit;
			}
		}
	}
}

.woocommerce-widget-layered-nav-list {
	border: 0;
	list-style: none outside;
	margin: 0;
	padding: 0;

	.woocommerce-widget-layered-nav-list__item {
		list-style: none;

		padding: 0 0 1px;

		a,
		span {
			padding: 1px 0;
		}
	}

	.woocommerce-widget-layered-nav-list__item--chosen a::before {
		@include iconbefore("\e013");
		color: var(--woo-color-negative);
	}
}

.woocommerce-widget-layered-nav-dropdown__submit {
	margin-top: 1em;
}
