.widget_product_categories {
	ul {
		list-style-type: none;

	}

	>ul {
		margin-left: 0;
	}

	.children {
		border-left: 1px solid var(--color-gray-ui);
		margin-left: var(--spacing-tiny);
		padding-left: var(--spacing-small);
	}
}
