.woocommerce-breadcrumb {

    margin: 0 0 1rem;
    padding: 0;
    font-size: 0.72rem;
    color: var(--text-color-gray-ui);

    a {
        color: var(--text-color-gray-ui);

        &:first-child {
            display: none;
        }
    }
}