input.button,
#respond input#submit {
	margin: 0;
}

a.button,
button.button,
input.button,
#respond input#submit {
	background-color: var(--button-color-primary);
	background-image: none;
	border: 0;

	border-radius: var(--button-radius);
	box-shadow: none;
	color: var(--text-color-invert);
	cursor: pointer;
	display: inline-block;
	font-size: 100%;
	left: auto;
	overflow: visible;
	padding: var(--woo-button-spacing-default);
	position: relative;
	text-decoration: none;
	text-shadow: none;

	&.loading {
		opacity: 0.25;
		padding-right: 2.618em;

		&::after {
			animation: spin 2s linear infinite;
			content: "\e01c";
			font-family: WooCommerce; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
			font-weight: 400;
			position: absolute;
			right: 1em;
			top: 0.618em;
			vertical-align: top;
		}
	}

	&.added::after {
		content: "\e017";
		font-family: WooCommerce; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
		margin-left: 0.53em;
		vertical-align: bottom;
	}

	&:hover {
		background-color: var(--button-color-primary-h);
		background-image: none;
		color: var(--text-color-invert);
		text-decoration: none;
	}

	&.alt {
		background-color: var(--button-color-secondary);
		color: var(--button-text-color);
		-webkit-font-smoothing: antialiased;

		&:hover {
			background-color: var(--button-color-secondary-h);
			color: var(--button-text-color);
		}

		&.disabled,
		&:disabled,
		&:disabled[disabled],
		&.disabled:hover,
		&:disabled:hover,
		&:disabled[disabled]:hover {
			background-color: var(--button-color-secondary);
			color: var(--button-text-color);
		}
	}

	&:disabled,
	&.disabled,
	&:disabled[disabled] {
		color: var(--button-text-color);
		cursor: not-allowed;
		opacity: 0.5;
		padding: var(--woo-button-spacing-default);

		&:hover {
			background-color: var(--button-color-primary);
			color: inherit;
		}
	}
}

a.added_to_cart {
	display: inline-block;
	padding-top: 0.5em;
}

.woocommerce-mini-cart__buttons {
	.checkout {
		background-color: var(--button-color-secondary);

		&:hover {
			background-color: var(--button-color-secondary-h);
		}
	}
}
