span.onsale {
	background-color: var(--woo-color-on-sale-background);
	border-radius: var(--global-radius);
	color: var(--woo-color-on-sale-color);
	font-size: 0.857em;
	font-weight: 700;
	left: -0.5em;
	margin: 0;
	padding: var(--spacing-small) var(--spacing-tiny);
	position: absolute;
	text-align: center;
	top: -0.5em;
	z-index: 9;
}
