.term-description {
	margin-bottom: var(--spacing-large);
}

.term-description__content {
	font-size: var(--font-size-small);
	height: calc(3.2em * var(--global-line-height));
	overflow: hidden;
}

.term-description-is-open .term-description__content {
	height: auto;
}

.term-descr__read_more-checkbox {
	display: none;
	position: absolute;
}

.term-description__button {
	padding: var(--spacing-tiny) 0;
	position: relative;
	text-align: center;

	&::after {
		background-color: var(--color-gray-ui-dark);
		content: "";
		display: block;
		height: 1px;
		left: 0;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
}

.term-description__read-more {
	background-color: var(--background-color-light);
	border: 1px solid var(--color-gray-ui-dark);
	color: var(--text-color-body);
	display: inline-block;
	font-size: var(--font-size-small);
	padding: var(--spacing-tiny) var(--spacing-base) var(--spacing-tiny) var(--spacing-small);
	position: relative;
	transition: all var(--global-transition) linear;
	z-index: 1;

	&:hover {
		background-color: var(--color-gray-ui-light);
		cursor: pointer;
	}
}

.term-description__symbol {
	border: solid currentColor;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
	position: absolute;
	right: 14px;
	top: 50%;
	transform: rotate(45deg) translateY(calc(-50% - 3px));
}

.term-description-is-open {
	.term-description__symbol {
		border-width: 1px 0 0 1px;
		transform: rotate(45deg) translateY(-50%);
	}
}
