.site-header-cart {
	display: block;
	list-style: none;
	margin: 0;
	margin-left: var(--spacing-small);
	padding-right: 1em;
	position: relative;

	.widget_shopping_cart {
		--shopping-cart-width: 250px;
		--shopping-cart-position: calc(var(--shopping-cart-width) / 2 - 1rem);

		background-color: var(--woo-head-utility-background);
		color: var(--woo-head-utility-text-color);
		display: block;
		left: -999em;
		max-width: var(--shopping-cart-width);
		position: absolute;
		top: 100%;
		width: 15rem;
		z-index: 999999;

		.woocommerce-mini-cart-item {
			overflow: hidden;
			padding-left: var(--spacing-small);
			padding-right: var(--spacing-small);
			position: relative;

			&::before {
				border-bottom: 1px solid var(--woo-head-utility-background-h);
				content: "";
				display: block;
				height: calc(100% - 1px);
				left: 0;

				position: absolute;
				top: 0;
				transform: translateX(-100%);
				transition: var(--global-transition);
				transition-timing-function: ease-in;
				width: 100%;
			}

			&:hover::before {
				border-bottom: 1px solid var(--woo-head-utility-background-h);
				transform: translateX(0);
				transition: var(--global-transition);
				transition-timing-function: ease-out;
			}

			a:not(.remove) {
				color: currentColor;
				opacity: 0.9;
				transition: opacity var(--global-transition) linear;

				&:hover {
					opacity: 1;
					text-decoration: none;
				}
			}
		}

	}

	&:hover .widget_shopping_cart {
		animation-duration: 0.3s;
		animation-fill-mode: both;
		animation-name: fadeInDownSmaller;
		left: calc(var(--shopping-cart-position) * -1);
	}

	.woocommerce-mini-cart__buttons {
		margin: 0;
		padding: 0 var(--spacing-small);

		.wc-forward:not(.checkout) {
			background-color: var(--button-color-light);

			&:hover {
				background-color: var(--button-color-light-h);
			}
		}

	}

	.widget_shopping_cart .total {
		background-color: var(--woo-head-utility-background-dark);
		color: var(--woo-head-utility-text-color-light);
	}

	.woocommerce-mini-cart__empty-message {
		margin: 0;
		padding: var(--spacing-small);
		text-align: center;
	}

}
