.cart_list,
.product_list_widget {
	margin: 0;

	padding: 0;

	li {
		margin: 0;

		a {
			display: block;
		}

		img {
			box-shadow: none;
			float: right;
			height: auto;
			margin-left: 4px;
			width: 32px;
		}

		dl {
			border: none;
			margin: 0;
			padding: 0;

			dt,
			dd {
				display: inline-block;
				font-weight: 500;
			}

			dt {
				clear: left;
				margin: 0;
			}

			dd {
				margin: 0;
				padding-left: var(--spacing-tiny);

				p:last-child {
					margin-bottom: 0;
				}
			}
		}

		.star-rating {
			float: none;
		}
	}
}
