.widget_price_filter {

	--price-filter-slider: var(--woo-color-primary);
	--price-filter-slider-background: var(--text-color-gray-ui);

	.price_slider {
		margin-bottom: 1em;
	}

	.price_slider_amount {
		font-size: 0.8751em;
		line-height: 2.4;
		text-align: right;

		.button {
			float: left;
			font-size: 1.15em;
		}
	}

	.ui-slider {
		margin-left: 0.5em;
		margin-right: 0.5em;
		position: relative;
		text-align: left;
	}

	.ui-slider .ui-slider-handle {
		background-color: var(--price-filter-slider);
		border-radius: 1em;
		cursor: ew-resize;
		height: 1em;

		/* rtl:ignore */
		margin-left: -0.5em;
		outline: none;
		position: absolute;
		top: -0.3em;
		width: 1em;
		z-index: 2;
	}

	.ui-slider .ui-slider-range {
		background-color: var(--price-filter-slider);
		border: 0;
		border-radius: 1em;
		display: block;
		font-size: 0.7em;
		position: absolute;
		z-index: 1;
	}

	.price_slider_wrapper .ui-widget-content {
		background-color: var(--price-filter-slider-background);
		border: 0;
		border-radius: 1em;
	}

	.ui-slider-horizontal {
		height: 0.5em;
	}

	.ui-slider-horizontal .ui-slider-range {
		height: 100%;
		top: 0;
	}

	.ui-slider-horizontal .ui-slider-range-min {
		left: -1px;
	}

	.ui-slider-horizontal .ui-slider-range-max {
		right: -1px;
	}
}
