.products ul,
ul.products {
    margin: 0 0 var(--spacing-base);
    padding: 0;
    list-style: none outside;
    clear: both;

    li {
        list-style: none outside;
    }
}

ul.products li.product {

    .onsale {
        top: 0;
        right: 0;
        left: auto;
        margin: -0.5em -0.5em 0 0;
    }

    h3,
    .woocommerce-loop-product__title,
    .woocommerce-loop-category__title {
        padding: 0.5em 0;
        margin: 0;
        font-size: 1em;
    }

    a {
        text-decoration: none;
    }

    a img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 0 var(--spacing-tiny);
        box-shadow: none;
    }

    strong {
        display: block;
    }

    .woocommerce-placeholder {
        border: 1px solid #f2f2f2;
    }

    .star-rating {
        font-size: 0.857em;
    }

    .button {
        --woo-button-spacing-default: var(--spacing-tiny) var(--spacing-base);
    }

    .price {
        color: var(--woo-color-price);
        display: block;
        font-weight: normal;
        margin-bottom: var(--spacing-small);
        font-size: 0.857em;
        text-align: right;

        @media (--viewport-lap-and-up) {
            text-align: left;
            margin-bottom: var(--spacing-tiny);
        }

        del {
            color: inherit;
            opacity: 0.5;
            display: inline-block;
        }

        ins {
            background: none;
            font-weight: 700;
            display: inline-block;
        }

        .from {
            font-size: 0.67em;
            margin: -2px 0 0 0;
            text-transform: uppercase;
            color: var(--text-color-gray-ui);
        }
    }
}
