@font-face {
	font-family: star;
	font-style: normal;
	font-weight: 500;
	src: url(../assets/fonts/star.eot);
	src:
		url(../assets/fonts/star.eot?#iefix) format("embedded-opentype"),
		url(../assets/fonts/star.woff) format("woff"),
		url(../assets/fonts/star.ttf) format("truetype"),
		url(../assets/fonts/star.svg#star) format("svg");
}

@font-face {
	font-family: WooCommerce;
	font-style: normal;
	font-weight: 500;
	src: url(../assets/fonts/WooCommerce.eot);
	src:
		url(../assets/fonts/WooCommerce.eot?#iefix) format("embedded-opentype"),
		url(../assets/fonts/WooCommerce.woff) format("woff"),
		url(../assets/fonts/WooCommerce.ttf) format("truetype"),
		url(../assets/fonts/WooCommerce.svg#WooCommerce) format("svg");
}
