body {
	--site-width: var(--wp--custom--site--width);
	--content-width: var(--wp--custom--site--content-width);
	--content-width-wide: var(--wp--custom--site--content-width-wide);
	--site-spacing: calc(var(--wp--custom--site--spacing) / 2);
	--spacing-tiny: var(--wp--custom--site--spacing-tiny);
	--spacing-small: var(--wp--custom--site--spacing-small);
	--spacing-base: var(--wp--custom--site--spacing-normal);
	--spacing-large: calc(var(--wp--custom--site--spacing-large) / 2);
	--spacing-huge: calc(var(--wp--custom--site--spacing-huge) / 2);
	--base-spacing-unit: 24px;
	--site-block-spacing: var(--base-spacing-unit);
	--site-block-negative-spacing: var(--wp--custom--site--small-block-negative-spacing);

	@media (--viewport-lap-and-up) {
		--site-spacing: var(--wp--custom--site--spacing);
		--spacing-large: var(--wp--custom--site--spacing-large);
		--spacing-huge: var(--wp--custom--site--spacing-huge);
		--site-block-spacing: var(--wp--custom--site--block-spacing);
		--site-block-negative-spacing: var(--wp--custom--site--block-negative-spacing);
	}
}
