/* Headings */

.block-editor-block-list__layout h1.wp-block-heading {
	font-size: var(--wp--preset--font-size--heading-1);
	line-height: var(--wp--custom--line-height--heading-1);

	@extend %typo-heading;
}

.block-editor-block-list__layout h2.wp-block-heading {
	font-size: var(--wp--preset--font-size--heading-2);
	line-height: var(--wp--custom--line-height--heading-2);

	@extend %typo-heading;
}

.block-editor-block-list__layout h3.wp-block-heading {
	font-size: var(--wp--preset--font-size--heading-3);
	line-height: var(--wp--custom--line-height--heading-3);

	@extend %typo-heading;
}

.block-editor-block-list__layout h4.wp-block-heading {
	font-size: var(--wp--preset--font-size--heading-4);
	line-height: var(--wp--custom--line-height--heading-4);

	@extend %typo-heading;
}

.block-editor-block-list__layout h5.wp-block-heading {
	font-size: var(--wp--preset--font-size--heading-5);
	line-height: var(--wp--custom--line-height--heading-5);

	@extend %typo-heading;
}

.block-editor-block-list__layout h6.wp-block-heading {
	font-size: var(--wp--preset--font-size--heading-6);
	line-height: var(--wp--custom--line-height--h6);

	@extend %typo-heading;
}
