/* Fallback for browsers that doesn't support clamp */
@supports not ( font-size:clamp( 27px, 2.5vw, 32px ) ) {
	:root {
		--wp--preset--font-size--heading-1: 27px;
		--wp--preset--font-size--heading-2: 23px;
		--wp--preset--font-size--heading-3: 20px;
		--wp--preset--font-size--heading-4: 18px;
		--wp--preset--font-size--heading-5: 16px;
		--wp--preset--font-size--heading-6: 14px;
		--wp--preset--font-size--heading-large: 36px;
		--wp--preset--font-size--heading-huge: 42px;
		--wp--preset--font-size--small: 12px;
		--wp--preset--font-size--tiny: 10px;
	}
}

@supports not ( font-size:clamp( 27px, 2.5vw, 32px ) ) {
	@media ( min-width: 64em ) {
		:root {
			--wp--preset--font-size--heading-1: 32px;
			--wp--preset--font-size--heading-2: 26px;
			--wp--preset--font-size--heading-3: 22px;
			--wp--preset--font-size--heading-4: 20px;
			--wp--preset--font-size--heading-5: 18px;
			--wp--preset--font-size--heading-6: 16px;
			--wp--preset--font-size--heading-large: 62px;
			--wp--preset--font-size--heading-huge: 78px;
			--wp--preset--font-size--small: 14px;
			--wp--preset--font-size--tiny: 12px;
		}
	}
}

%typo-body {
	color: var(--text-color-body);
	font-family: var(--theme-font-one);
	font-weight: var(--theme-font-one-weight, 400);
	line-height: var(--wp--custom--line-height--global);
}

%typo-heading {
	color: var(--text-color-heading);
	font-family: var(--theme-font-two, var(--theme-font-one));
	font-weight: var(--theme-font-two-weight, 600);
}

.site,
.u-font-body,
.u-font-one {
	@extend %typo-body;
}

.u-font-heading,
.u-font-two {
	@extend %typo-heading;
}
