/* thai */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 100;
	src: url(fonts/trirong/v11/7r3CqXNgp8wxdOdOn44Qub5ywuzVgNIZ30o.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 100;
	src: url(fonts/trirong/v11/7r3CqXNgp8wxdOdOn44Qub5pwuzVgNIZ30o.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 100;
	src: url(fonts/trirong/v11/7r3CqXNgp8wxdOdOn44Qub5owuzVgNIZ30o.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 100;
	src: url(fonts/trirong/v11/7r3CqXNgp8wxdOdOn44Qub5mwuzVgNIZ.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 200;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QFa9x8cn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 200;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QFa9x6sn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 200;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QFa9x68n6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 200;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QFa9x5cn6qNgR5w.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 300;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44Qcaxx8cn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 300;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44Qcaxx6sn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 300;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44Qcaxx68n6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 300;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44Qcaxx5cn6qNgR5w.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 400;
	src: url(fonts/trirong/v11/7r3EqXNgp8wxdOdOn44Yzo5kyOv3guIY.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 400;
	src: url(fonts/trirong/v11/7r3EqXNgp8wxdOdOn44Y1Y5kyOv3guIY.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 400;
	src: url(fonts/trirong/v11/7r3EqXNgp8wxdOdOn44Y1I5kyOv3guIY.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 400;
	src: url(fonts/trirong/v11/7r3EqXNgp8wxdOdOn44Y2o5kyOv3gg.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 500;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QKa1x8cn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 500;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QKa1x6sn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 500;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QKa1x68n6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 500;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QKa1x5cn6qNgR5w.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 600;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QBapx8cn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 600;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QBapx6sn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 600;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QBapx68n6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 600;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QBapx5cn6qNgR5w.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 700;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QYatx8cn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 700;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QYatx6sn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 700;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QYatx68n6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 700;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QYatx5cn6qNgR5w.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 800;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44Qfahx8cn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 800;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44Qfahx6sn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 800;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44Qfahx68n6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 800;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44Qfahx5cn6qNgR5w.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 900;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QWalx8cn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 900;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QWalx6sn6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 900;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QWalx68n6qNgR53NU.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: italic;
	font-weight: 900;
	src: url(fonts/trirong/v11/7r3BqXNgp8wxdOdOn44QWalx5cn6qNgR5w.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 100;
	src: url(fonts/trirong/v11/7r3EqXNgp8wxdOdOl-gYzo5kyOv3guIY.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 100;
	src: url(fonts/trirong/v11/7r3EqXNgp8wxdOdOl-gY1Y5kyOv3guIY.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 100;
	src: url(fonts/trirong/v11/7r3EqXNgp8wxdOdOl-gY1I5kyOv3guIY.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 100;
	src: url(fonts/trirong/v11/7r3EqXNgp8wxdOdOl-gY2o5kyOv3gg.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 200;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl0QJzb1B58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 200;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl0QJzaZB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 200;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl0QJzadB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 200;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl0QJzalB58P9ito.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 300;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlyAKzb1B58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 300;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlyAKzaZB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 300;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlyAKzadB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 300;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlyAKzalB58P9ito.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 400;
	src: url(fonts/trirong/v11/7r3GqXNgp8wxdOdOn58o2IRj6unHgw.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 400;
	src: url(fonts/trirong/v11/7r3GqXNgp8wxdOdOn4Qo2IRj6unHgw.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 400;
	src: url(fonts/trirong/v11/7r3GqXNgp8wxdOdOn4Uo2IRj6unHgw.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 400;
	src: url(fonts/trirong/v11/7r3GqXNgp8wxdOdOn4so2IRj6uk.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 500;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl3gLzb1B58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 500;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl3gLzaZB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 500;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl3gLzadB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 500;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl3gLzalB58P9ito.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 600;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl1QMzb1B58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 600;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl1QMzaZB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 600;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl1QMzadB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 600;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOl1QMzalB58P9ito.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 700;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlzANzb1B58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 700;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlzANzaZB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 700;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlzANzadB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 700;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlzANzalB58P9ito.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 800;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlywOzb1B58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 800;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlywOzaZB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 800;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlywOzadB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 800;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlywOzalB58P9ito.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 900;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlwgPzb1B58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 900;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlwgPzaZB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 900;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlwgPzadB58P9itoh5g.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Trirong;
	font-style: normal;
	font-weight: 900;
	src: url(fonts/trirong/v11/7r3DqXNgp8wxdOdOlwgPzalB58P9ito.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
