/*------------------------------------*\
    #LIST
\*------------------------------------*/

dl {
	border: 3px double var(--color-gray-ui);
	padding: var(--spacing-small);
}

dt {
	font-weight: 600;
}
