.u-padding-vertical {
	&-tiny {
		padding-bottom: var(--wp--custom--site--spacing-tiny);
		padding-top: var(--wp--custom--site--spacing-tiny);
	}

	&-small {
		padding-bottom: var(--wp--custom--site--spacing-small);
		padding-top: var(--wp--custom--site--spacing-small);
	}

	&-normal {
		padding-bottom: var(--wp--custom--site--spacing-normal);
		padding-top: var(--wp--custom--site--spacing-normal);
	}

	&-large {
		padding-bottom: var(--wp--custom--site--spacing-large);
		padding-top: var(--wp--custom--site--spacing-large);
	}

	&-huge {
		padding-bottom: var(--wp--custom--site--spacing-huge);
		padding-top: var(--wp--custom--site--spacing-huge);
	}
}

.is-margin {
	&-top {
		&-tiny {
			margin-top: var(--wp--custom--site--spacing-tiny) !important;
		}

		&-small {
			margin-top: var(--wp--custom--site--spacing-small) !important;
		}

		&-normal {
			margin-top: var(--wp--custom--site--spacing-normal) !important;
		}

		&-large {
			margin-top: var(--wp--custom--site--spacing-large) !important;
		}

		&-huge {
			margin-top: var(--wp--custom--site--spacing-huge) !important;
		}

		&-none {
			margin-top: 0 !important;
		}
	}

	&-bottom {
		&-tiny {
			margin-bottom: var(--wp--custom--site--spacing-tiny) !important;
		}

		&-small {
			margin-bottom: var(--wp--custom--site--spacing-small) !important;
		}

		&-normal {
			margin-bottom: var(--wp--custom--site--spacing-normal) !important;
		}

		&-large {
			margin-bottom: var(--wp--custom--site--spacing-large) !important;
		}

		&-huge {
			margin-bottom: var(--wp--custom--site--spacing-huge) !important;
		}

		&-none {
			margin-bottom: 0 !important;
		}
	}
}
