@define-mixin icon $glyph: "\e001" {
	content: $glyph;
	font-family: WooCommerce; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	font-variant: normal;
	font-weight: 500;
	height: 100%;
	left: 0;
	line-height: 1;
	margin: 0;
	position: absolute;
	speak: none;
	text-align: center;
	text-indent: 0;
	text-transform: none;
	top: 0;
	width: 100%;
}

@define-mixin icon_dashicons $glyph: "\f333" {
	content: $glyph;
	font-family: Dashicons; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	-webkit-font-smoothing: antialiased;
	font-variant: normal;
	font-weight: 500;
	height: 100%;
	left: 0;
	line-height: 1;
	margin: 0;
	position: absolute;
	speak: none;
	text-align: center;
	text-indent: 0;
	text-transform: none;
	top: 0;
	width: 100%;
}

@define-mixin iconbefore $glyph: "\e001" {
	content: $glyph;
	font-family: WooCommerce; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	-webkit-font-smoothing: antialiased;
	font-variant: normal;
	font-weight: 500;
	line-height: 1;
	margin-right: 0.618em;
	speak: none;
	text-decoration: none;
	text-transform: none;
}

@define-mixin iconbeforedashicons $glyph: "\f333" {
	content: $glyph;
	font-family: Dashicons; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	-webkit-font-smoothing: antialiased;
	font-variant: normal;
	font-weight: 500;
	line-height: 1;
	speak: none;
	text-decoration: none;
	text-transform: none;
}

@define-mixin iconafter $glyph: "\e001" {
	content: $glyph;
	font-family: WooCommerce; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	-webkit-font-smoothing: antialiased;
	font-variant: normal;
	font-weight: 500;
	line-height: 1;
	margin-left: 0.618em;
	speak: none;
	text-decoration: none;
	text-transform: none;
}
