/* Config */
@import "./css/config/config-media-queries.css";
@import "./css/config/config-spacing.css";
@import "./css/config/config-typography.css";
@import "./css/config/config-colors.css";

/* Elements */
@import "./css/elements/elements-page.css";
@import "./css/elements/elements-type.css";
@import "./css/elements/elements-links.css";
@import "./css/elements/elements-lists.css";
@import "./css/elements/elements-table.css";
@import "./css/elements/elements-images.css";
@import "./css/elements/elements-form.css";

/* Elements */
@import "./css/blocks/_blocks.css";

.block-editor .wp-block {
	max-width: var(--content-width);

	@extend %typo-body;

	&[data-align="full"] {
		max-width: none;
	}

	&[data-align="wide"] {
		max-width: var(--site-width);
	}
}

.block-editor .wp-block-heading {
	@extend %typo-heading;
}

.block-editor h1.wp-block {
	line-height: var(--wp--custom--line-height--heading-1);
}

.block-editor h2.wp-block {

	line-height: var(--wp--custom--line-height--heading-2);
}

.block-editor h3.wp-block {
	line-height: var(--wp--custom--line-height--heading-3);
}

.block-editor h4.wp-block {
	line-height: var(--wp--custom--line-height--heading-4);
}

.block-editor h5.wp-block {
	line-height: var(--wp--custom--line-height--heading-5);
}

.block-editor h6.wp-block {
	line-height: var(--wp--custom--line-height--h6);
}

/* Customize title blocks */
.editor-post-title__block {
	margin: -8px -8px 40px !important;
	max-width: none !important;
}

.editor-post-title__block .editor-post-title__input {
	background: #f3f4f5;
	border-bottom: 1px solid #ddd;
	font-size: 22px;
	font-weight: 700;
	padding: 20px;
}

/* Fix aligned left/right blocks go outside the content area */
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container {
	& > [data-align="right"] {
		float: none !important;

		& > * {
			float: right;
		}
	}

	& > [data-align="left"] {
		float: none !important;

		& > * {
			float: left;
		}
	}
}
