/* Config */

@import "wps-css-viewports";
@import "./css/config/config-spacing.css";
@import "./css/config/config-typography.css";
@import "./css/config/config-typography-headers-editor.css";
@import "./css/config/config-colors.css";

/* Elements */
@import "./css/elements/elements-editor.css";

/* Blocks */
@import "./css/blocks/_blocks.css";

/* Components */
@import "./css/components/components-buttons.css";

.block-editor-block-list__layout .wp-block-heading,
.block-editor .wp-block {
	max-width: var(--content-width);

	&[data-align="full"] {
		max-width: none;
	}

	&[data-align="wide"] {
		max-width: var(--site-width);
	}
}

.block-editor .wp-block {
	color: var(--text-color-body);
	font-family: var(--theme-font-one);
	font-weight: var(--theme-font-one-weight, 400);
	line-height: var(--wp--custom--line-height--global);
}

/* Customize title blocks */
.editor-post-title__block {
	margin: -8px -8px 40px !important;
	max-width: none !important;
}

.editor-post-title__block .editor-post-title__input {
	background: #f3f4f5;
	border-bottom: 1px solid #ddd;
	font-size: 22px;
	font-weight: 700;
	padding: 20px;
}

.editor-styles-wrapper {
	& .edit-post-visual-editor__post-title-wrapper > *,
	& .block-editor-block-list__layout.is-root-container > * {
		margin: var(--site-block-spacing) auto;
	}
	/* stylelint-disable no-descending-specificity */
	& .edit-post-visual-editor__post-title-wrapper,
	& .block-editor-block-list__layout.is-root-container {
		& > h1 + *,
		& > h2 + *,
		& > h3 + *,
		& > h4 + *,
		& > h5 + *,
		& > h6 + *,
		& > ol + p,
		& > p + ol,
		& > p + p,
		& > p + .wp-block-quote,
		& > .wp-block-quote + p,
		& > .wp-block-quote + ol,
		& > .wp-block-quote + ul,
		& > p + ul:not(.wp-block-gallery),
		& > ul:not(.wp-block-gallery) + p {
			margin-top: var(--site-block-negative-spacing);
		}

		& > *:first-child {
			margin-top: 0;
		}

	}
	/* stylelint-enable */

	/* Fix aligned left/right blocks go outside the content area */
	& .block-editor-block-list__layout.is-root-container {
		& > [data-align="right"] {
			float: none !important;

			& > * {
				float: right;
			}
		}

		& > [data-align="left"] {
			float: none !important;

			& > * {
				float: left;
			}
		}
	}
}
