/* Config */

@import "wps-css-viewports";
@import "./css/config/config-spacing.css";
@import "./css/config/config-typography.css";
@import "./css/config/config-typography-headers-editor.css";
@import "./css/config/config-colors.css";
@import "./css/config/config-buttons.css";

/* Elements */
@import "./css/elements/elements-editor.css";

/* Blocks */
@import "./css/blocks/_blocks.css";

/* Components */
@import "./css/components/components-buttons.css";

/* Utilities */
@import "./css/utilities/_utilities.css";

.block-editor,
.block-editor-block-list__layout .wp-block-heading {
	color: var(--text-color-body);

	& .wp-block {
		color: currentColor;
		font-family: var(--theme-font-one);
		font-weight: var(--theme-font-one-weight, 400);
		line-height: var(--wp--custom--line-height--global);
		max-width: var(--content-width);

		&[data-align="full"] {
			max-width: none;
		}

		&[data-align="wide"] {
			max-width: var(--site-width);
		}
	}
}

/* Customize title blocks */
.edit-post-visual-editor__post-title-wrapper {
	background: #f3f4f5;
	border-bottom: 1px solid #ddd;
	margin: 0;
	max-width: none !important;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title__input {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 0 !important;
	max-width: 100% !important;
	padding: 20px;
}

.editor-styles-wrapper {
	& .edit-post-visual-editor__post-title-wrapper > *,
	& .block-editor-block-list__layout.is-root-container > *:not(.wp-block[data-align="full"]),
	& .block-editor-block-list__layout.is-root-container > *.wp-block[data-align="full"] > * {
		margin: var(--site-block-spacing) auto;
	}
	/* stylelint-disable no-descending-specificity */
	& .edit-post-visual-editor__post-title-wrapper,
	& .block-editor-block-list__layout.is-root-container {
		& > h1 + *,
		& > h2 + *,
		& > h3 + *,
		& > h4 + *,
		& > h5 + *,
		& > h6 + *,
		& > ol + p,
		& > p + ol,
		& > p + p,
		& > p + .wp-block-quote,
		& > .wp-block-quote + p,
		& > .wp-block-quote + ol,
		& > .wp-block-quote + ul,
		& > p + ul:not(.wp-block-gallery),
		& > ul:not(.wp-block-gallery) + p {
			margin-top: var(--site-block-negative-spacing);
		}

		& > *:first-child {
			margin-top: 0;
		}

		/* Clear margin around items with custom spacing */
		& > *[class*="has-margin-bottom"] + *:not([class*="has-margin-top"]) {
			margin-top: auto;
		}

	}
	/* stylelint-enable */

	/* Fix aligned left/right blocks go outside the content area */
	/* stylelint-disable no-descending-specificity */
	& .block-editor-block-list__layout.is-root-container {
		& > [data-align="right"] {
			float: none !important;

			& > * {
				float: right;
			}
		}

		& > [data-align="left"] {
			float: none !important;

			& > * {
				float: left;
			}
		}
	}
}
